<article id="table-of-contents">
  <div class="width-wrapper">
    <header>
      <h2>Table of Contents</h2>
    </header>

    <h3>Arrays</h3>
    <ol>
      <li><a href="/array-contains">Contains</a></li>
      <li><a href="/array-initialization">Initialization</a></li>
      <li><a href="/array-iteration">Iteration</a></li>
      <li><a href="/array-length">Length</a></li>
      <li><a href="/array-push">Push</a></li>
    </ol>

    <h3>Associative Arrays</h3>
    <ol>
      <li><a href="/associative-array-initialization">Initialization</a></li>
      <li><a href="/associative-array-iteration">Iteration</a></li>
    </ol>
  </div>
</article>
