<article id="associative-array-set-value">
  <div class="width-wrapper">
    <header>
      <h2>Associative Array Set Value</h2>
      <p class="accent-text">Ways to add key-value pairs to an associative Array.</p>
    </header>

    <div class="example preferred">
      <h3>Preferred</h3>

      <pre><code>$array = [];

$array[/* key */] = /* value */;
$array['myKey'] = 'myValue';</code></pre>

      <p>Direct bracket assignment will set a value on the associative Array if
        it does not already exist, and overwrite a value on the associative Array
        if it does already exist.</p>
    </div>
  </div>
</article>
