<article id="table-of-contents">
  <div class="width-wrapper">
    <header>
      <h2>Table of Contents</h2>
    </header>

    <ol class="larger">
      <li><a href="#general-resources">General Resources</a></li>
      <li><a href="#code-samples">Code Samples</a></li>
      <li><a href="#live-demonstrations">Live Demonstrations</a></li>
      <li><a href="#github-repository">GitHub Repository</a></li>
    </ol>
  </div>
</article>

<article id="general-resources">
  <div class="width-wrapper">
    <header>
      <h2>General Resources</h2>
      <p class="accent-text">Links to documentation, API references, and other useful resources.</p>
    </header>

    <ul class="two-columns">
      <li><a target="_blank" href="https://devcenter.heroku.com/categories/reference">Documentation | Heroku Dev Center</a></li>
      <li><a target="_blank" href="https://git-scm.com/docs">Git - Reference</a></li>
      <li><a target="_blank" href="https://guides.github.com/activities/hello-world/">Hello World &middot; GitHub Guides</a></li>
      <li><a target="_blank" href="http://php.net/manual/en/">PHP: PHP Manual - Manual</a></li>
      <li><a target="_blank" href="https://www.postgresql.org/docs/">PostgreSQL: Documentation</a></li>
      <li><a target="_blank" href="https://nodejs.org/en/docs/">Docs | Node.js</a></li>
      <li><a target="_blank" href="http://expressjs.com/en/4x/api.html">Express 4.x - API Reference</a></li>
      <li><a target="_blank" href="http://ejs.co/#docs">EJS -- Embedded JavaScript templates</a></li>
      <li><a target="_blank" href="https://restfulapi.net/">What is REST – Learn to create timeless RESTful APIs.</a></li>
      <li><a target="_blank" href="https://httpstatuses.com/">HTTP Status Codes &mdash; httpstatuses.com</a></li>
      <li><a target="_blank" href="https://developer.mozilla.org/en-US/">MDN Web Docs</a></li>
      <li><a target="_blank" href="https://stackoverflow.com/">Stack Overflow - Where Developers Learn, Share, &amp; Build Careers</a></li>
    </ul>
  </div>
</article>

<article id="code-samples">
  <div class="width-wrapper">
    <header>
      <h2>Code Samples</h2>
    </header>

    <aside>
      <h4>By The Way</h4>
      <p class="accent-text">Code samples for PHP may be found in
        <a href="https://cs313-ta-php.herokuapp.com/">the PHP-specific
        demo app.</a> Code samples for Node.js may be found in
        <a href="https://cs313-ta-nodejs.herokuapp.com/">the Node.js-specific
        demo app.</a></p>
    </aside>

    <p class="accent-text">None at the moment.</p>
  </div>
</article>

<article id="live-demonstrations">
  <div class="width-wrapper">
    <header>
      <h2>Live Demonstrations</h2>
    </header>

    <p class="accent-text">None at the moment.</p>
  </div>
</article>

<article id="github-repository">
  <div class="width-wrapper">
    <header>
      <h2>GitHub Repository</h2>
    </header>

    <p><a target="_blank" href="https://github.com/ConnorWiseman/cs313-ta">https://github.com/ConnorWiseman/cs313-ta</a></p>
  </div>
</article>
