main/**/*.js linguist-detectable=false
main/**/*.html linguist-detectable=false
main/**/*.json linguist-detectable=false
main/assets/**.*.css linguist-detectable=false
nodejs/**/*.json linguist-detectable=false
nodejs/assets/**.*.css linguist-detectable=false
nodejs/src/**/*.js linguist-detectable=false
nodejs/templates/**/*.html linguist-detectable=false
nodejs/examples/**/*.js linguist-detectable=false
php/**/*.json linguist-detectable=false
php/assets/**/*.css linguist-detectable=false
php/foundry/**/*.php linguist-detectable=false
php/src/**/*.php linguist-detectable=false
php/templates/**/*.html linguist-detectable=false
php/examples/**/*.php linguist-detectable=true
