<head>
  <title>{{appTitle}}</title>

  <meta charset="utf-8">
  <meta name="description" content="{{appDescription}}">
  <meta name="robots" content="index, follow, archive">
  <meta name="theme-color" content="{{appThemeColor}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preload" href="/assets/fonts/open-sans/regular.woff2" as="font">
  <link rel="preload" href="/assets/fonts/libre-baskerville/regular.woff2" as="font">
  <link rel="preload" href="/assets/fonts/source-code-pro/regular.woff2" as="font">
  <link rel="preload" href="/assets/fonts/open-sans/light-italic.woff2" as="font">
  <link rel="preload" href="/assets/fonts/open-sans/regular-italic.woff2" as="font">
  <link rel="preload" href="/assets/fonts/open-sans/bold.woff2" as="font">

  <link rel="stylesheet" href="/assets/css/webfonts.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
